################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Local build output
/build/
Debug/
Release/
x64/
x86/
.vs/

# CMake generated
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake

# Generated VS projects from CMake
*.vcxproj
*.vcxproj.filters
ALL_BUILD.*
ZERO_CHECK.*
